body{
    width: 40%;
    margin: 0 auto;
}
#weibowrapper{
    /*width: 390px;*/
    /*width = auto;*/
    /*font-family: "Courier", "Serif";*/
    /*font-family: "PingHei","Lucida Grande", "Lucida Sans", "Helvetica", "Arial", "Sans Serif", "Consolas";*/
    font-family: "Helvetica Neue", "Helvetica", "Arial", "Microsoft Yahei", "微软雅黑", "Consolas";
    font-size: 14px;
    /*color: #a7a7a7;*/
}
#weibowrapper li{
    list-style: none;
}
#singleweibo{
    margin-top: 15px;
    padding-top: 5px;
    border-top: 1px solid #f0f0f0;
}
#weibowrapper .weibolist{
    margin: 0px 0px;
    padding: 0px 10px;
}
.selectbox{
    float: left;
    height: auto;
    width: 24px;
    margin: auto;
}

#singleweibologo{
    float: left;
    /*width: 24px;*/
    width: 17px;
    height: 17px;
    margin-right: 5px;
}
#singleweibologo img{
    float: left;
    width: 15px;
    height: 13px;
    max-height: 15px;
    max-width: 15px;
    /*width: 80%;
    height: 80%;*/
}
#singleweiboauthor{
    /*float: left;*/
    margin-left: 5px;
    color: #a7a7a7;
}
.singleweibotext a{
    text-decoration: none;
    color: #37485b;
}
.singleweiboretweet{
    border: 1px solid #f0f0f0;
}


.translated{
    margin: 0px 0px;
    padding-left: 20px;
    /*border: 1px dotted #a7a7a7;*/
    font-family:"微软雅黑","Courier", "Serif";
}
.translated p{
    font-size: 14px;
    color: #a7a7a7;
}
.singleweiboimage, a img{
    max-width: 400px;
    max-height: 600px;
    /*width: expression(this.width > 500? 500px;'auto';)
    height: expression(this.width > 600? 600px;'auto';);*/
}
#avatar{
    font-family: "微软雅黑","Courier", "Serif";
    color: #37485b;
    width: 100%;
    height: 150px;
    margin-top: 30px;
    text-align: center;
}
#avatar_pic{
    display: inline-block;
    vertical-align: middle;
}
#avatar img{
    max-height: 120px;
    max-width: 300px;

    /*width: 250px;
    height:145px;*/
}
#logo_title{
    display: inline-block;
    vertical-align: middle;
    font-family: "微软雅黑","Courier", "Serif";
}
#logo_title h2{
    font-weight: normal;
    font-size: 18px;
}

#logo_title p{
    font-size: 14px;
}

#datenavigate{
    text-align: center;
    margin: 20px 0;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    font-family: "Helvetica Neue", "Helvetica", "Arial", "Microsoft Yahei", "微软雅黑", "Consolas";
}

#datenavigate a{
    text-decoration: none;
    color: #37485b;
}

#prevpage{
    margin-left: 50px;
    display: inline-block;
    float: left;
}

#currentpage{
    display: inline-block;
}

#nextpage{
    margin-right: 50px;
    display: inline-block;
    float: right;
}


/* manualpost style*/

#manualfeedlist li{
    list-style: none;
}

#manualfeedlist{
    margin: 0px 0px;
    padding: 0px 10px;
}

.singlemanualfeed{
    margin-top: 15px;
    padding-top: 5px;
    border-top: 1px solid #f0f0f0;
}

.singlefeedauthor{
    height: 24px;
    /*width: 35%;*/
    margin-left: 5px;
}

.singlefeedauthor p{
    margin: 0 0px;
    color: #a7a7a7;
}


.singlefeedtext a{
    text-decoration: none;
    color: #37485b;
}


.feedcomments{
    margin: 0px 0px;
    padding-left: 20px;
    /*border: 1px dotted #a7a7a7;*/
    font-family: "Source Code Pro", "微软雅黑", "Consolas", "Courier";
}

.feedcomments p{
    font-size: 14px;
    color: #a7a7a7;
}

.feedcomments button{
    display: none;
    margin: 5px;
    color: #666;
    height: 24px;
    text-decoration: none;
}

.singlefeedimage, a img{
    max-width: 400px;
    max-height: 600px;
}

.singlefeedauthor img{
    max-height: 12px;
    max-width: 12px;
}

hr{
    margin-bottom: 20px;
    color: #f0f0f0;
}